* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
